Data-Science-Engineering\5th-Semester\DL-Lab\Week10\data
Data-Science-Engineering\6th-Semester\AI-Lab\Week2\.ipynb_checkpoints
Data-Science-Engineering\6th-Semester\AI-Lab\Week2\__pycache__
.ipynb_checkpoints
__pycache__