*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    width:300px;
    height:300px;
    margin: auto;
    margin-top:100px;
    font-size: 32px;
}

.container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width:300px;
    height: 50px;
    border: 1px solid black;
    font-size: 32px;
    margin-top: 100px;
    position: absolute;
    top: 0;
}

.container p{
    display: flex;
    align-items: center;
    position: absolute;
    width: 270px;
    top:50px;
    font-size: 20px;
    font-style: italic;
}

p{
    margin-top: 100px;
}

#field{
    display: flex;
    position: absolute;
    font-size: 20px;
    margin: auto;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    width: 300px;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 280px;
    margin-top: 150px;
    height:50px;
    font-size: 40px;
}

button{
    margin-top: 50px;
}